main_config:
  dry_run: True
logging:
    version: 1
    root:
        level: DEBUG
        handlers: [console, file]
    formatters:
        simpleFormatter:
            format: "%(asctime)s %(name)s %(levelname)s %(message)s"
    handlers:
        console:
            class: logging.StreamHandler
            formatter: simpleFormatter
            level: DEBUG
            stream: ext://sys.stdout
        file:
            class : logging.handlers.RotatingFileHandler
            formatter: simpleFormatter
            mode: a
            level: DEBUG
            filename: /var/log/submitter/submitter.log
            maxBytes: 52428800
            backupCount: 3

step:
  translate:
    - KubernetesAdaptor
    - OccopusAdaptor
    - PkAdaptor
  execute:
    - OccopusAdaptor
    - KubernetesAdaptor
    - PkAdaptor
  update:
    - OccopusAdaptor
    - KubernetesAdaptor
    - PkAdaptor
  undeploy:
    - PkAdaptor
    - KubernetesAdaptor
    - OccopusAdaptor
  cleanup:
    - KubernetesAdaptor
    - OccopusAdaptor
    - PkAdaptor

adaptor_config:
 KubernetesAdaptor:
   types:
     - "tosca.nodes.MiCADO.Container.Application.Docker"
   endoint: "endpoint"
   volume: "./files/output_configs/"


 OccopusAdaptor:
   types:
     - "tosca.nodes.MiCADO.Occopus.*"
   endoint: "endpoint"
   volume: "./files/output_configs/"


 PkAdaptor:
   types:
     - "tosca.policies.Scaling.MiCADO"
   endpoint: "policykeeper:12345"
   volume: "./files/output_configs/"