all:
  hosts:
    micado:
      ansible_host: {{ micado_host }}
      ansible_connection: ssh
  children:
    edgenodes:
      hosts:
{% for node, properties in edges.items() %}
        {{ node }}:
          ansible_host: {{ properties.public_ip }}
          ansible_connection: ssh
          ansible_user: {{ properties.ssh_username }}
          {%- if properties.ssh_private_key is defined %}
          ansible_ssh_private_key_file: ./{{ node }}.pem
          {% endif -%}
{% endfor %}